@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'inter', sans-serif;
}

nav a.router-link-exact-active {
	@apply border-b-2 border-primary text-primary;
}

.hamburger-line {
	@apply my-2 block h-[2px] w-[30px]  bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
	@apply translate-x-1 rotate-45;
}

.hamburger-active > span:nth-child(2) {
	@apply scale-0;
}

.hamburger-active > span:nth-child(3) {
	@apply translate-x-1 -rotate-45;
}

.navbar-fixed {
	@apply fixed z-[100] bg-white bg-opacity-80 shadow-sm backdrop-blur-sm;
}

.secondary-desc {
	@apply font-medium text-secondary;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease-out;
}
